:root {
    --background: #111;
    --foreground: #eee;
    --link: #b1bded;
    --link-lo: rgba(177, 189, 237, 25%);
    --link-hi: rgba(177, 189, 237, 75%);
    font-family: "TeX Gyre Pagella", serif;
    font-size: 12pt;
    line-height: 150%;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

body * {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
}

a {
    color: var(--link);
    text-decoration-color: var(--link-lo);
    transition: text-decoration-color 100ms;
}

a:hover {
    text-decoration-color: var(--link-hi);
}

a.header-anchor, .blog-name a {
    color: var(--foreground);
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header * {
    display: inline-block;
    padding: 0.25rem;
}

.grow {
    flex-grow: 2;
}

hr {
    margin-top: 3rem;
    margin-bottom: 2rem;
}